/*============ BASE TAG ============*/
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--color-container);
}

html {
    scroll-behavior: smooth;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

.no-link{
    color: inherit;
    text-decoration: inherit;
}
.sticky{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    z-index: 0;
}
.sticky-smooth{
    -webkit-transform: translate3d(0,0,0); /* WebKit */
    -moz-transform: translate3d(0,0,0); /* Mozilla */
    -o-transform: translate3d(0,0,0); /* Opera */
    -ms-transform: translate3d(0,0,0); /* Internet Explorer */
    transform: translate3d(0,0,0); /* CSS3 */
}
.wrapper {
    max-width: 100%;
    min-height: 100vh;
}




footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.copyright {
    color: var(--color-copyright);
    background-color: var(--bg-color-copyright);
    text-align: center;
    line-height: 40px;
}

a.link-email>svg {
    fill: red;
}

.flex-container 
{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}

.flex-container > .card{
    background-color: var(--bg-color-card-description);
    width: 300px;
    height: 60px;
    border-radius: 30px;
}
/*============ Common margin padding size ============*/
.max-w-1024px {
    max-width: 1024px;
}
.m-auto {
    margin: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.gap-40px {
    grid-gap: 40px;
    gap: 40px;
}
.px-10px{
    padding-left: 10px;
    padding-right: 10px;
}
@media (min-width: 1024px){
    .lg\:px-20px {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*============ border ============*/
.round-full{
    border-radius: 9999px;
}
