/*============ BASE TAG ============*/
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--color-container);
}

html {
    scroll-behavior: smooth;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

.no-link{
    color: inherit;
    text-decoration: inherit;
}
.sticky{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    z-index: 0;
}
.sticky-smooth{
    -webkit-transform: translate3d(0,0,0); /* WebKit */
    -moz-transform: translate3d(0,0,0); /* Mozilla */
    -o-transform: translate3d(0,0,0); /* Opera */
    -ms-transform: translate3d(0,0,0); /* Internet Explorer */
    transform: translate3d(0,0,0); /* CSS3 */
}
.wrapper {
    max-width: 100%;
    min-height: 100vh;
}




footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.copyright {
    color: var(--color-copyright);
    background-color: var(--bg-color-copyright);
    text-align: center;
    line-height: 40px;
}

a.link-email>svg {
    fill: red;
}

/*============ flex ============*/

.flex 
{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.gap-15px{
    grid-gap: 15px;
    gap: 15px;
}
.gap-20px{
    grid-gap: 20px;
    gap: 20px;
}
.gap-30px{
    grid-gap: 30px;
    gap: 30px;
}
.gap-40px {
    grid-gap: 40px;
    gap: 40px;
}
/*============ Common margin padding size ============*/
.max-w-1024px {
    max-width: 1024px;
}
.m-auto {
    margin: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}


.px-8px{
    padding-left: 8px;
    padding-right: 8px;
}
.py-8px{
    padding-top: 8px;
    padding-bottom: 8px;
}
.px-10px{
    padding-left: 10px;
    padding-right: 10px;
}
.py-10px{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-15px{
    padding-left: 15px;
    padding-right: 15px;
}
.py-15px{
    padding-top: 15px;
    padding-bottom: 15px;
}
/* Large screen devices */
@media screen and (min-width: 992px) {
    .lg-px-10px{
        padding-left: 10px;
        padding-right: 10px;
    }
    .lg-py-10px{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .lg-px-20px{
        padding-left: 20px;
        padding-right: 20px;
    }
    .lg-py-20px{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (min-width: 1024px){
    .lg\:px-20px {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*============ border ============*/
.round-full{
    border-radius: 9999px;
}

/*============ font ============*/
.font-bold{
    font-weight: bold;
}
.text-14px {
    font-size: 14px;
    line-height: 1;
}
.text-16px {
    font-size: 16px;
    line-height: 1;
}
.text-18px {
    font-size: 18px;
    line-height: 1;
}